<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<% include partials/_header.ejs %>
<body>
  <h2>Your <em>"Tiny"</em> URL</h2>
  <p><%= shortURL %> -- <%= origURL %></p>
</body>
</html>