<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <h3>Enter your email and password below to sign in.</h3>
  <form method="POST" action="/login">
    <label for="email">Email Address:</label>
    <input type="email" name="email" id="email" style="display:block; margin-bottom:10px;">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" style="display:block;">
    <input type="submit" value="Sign In" style="display:block; margin-top:10px;">
  </form>
</body>
</html>