<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <h2>Your <em>"Tiny"</em> URLs</h2>
  <ul>
    <% urls.forEach((url) => { %>
      <li><form method="POST" action="/urls/<%= url.shortened %>/delete"><%= url.shortened %> -- <%= url.original %> -- <input type="submit" value="Delete"></form></li>
    <% }); %>
  </ul>
</body>
</html>