<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<% include partials/_header.ejs %>
<body>
  <h2>Your <em>"Tiny"</em> URLs</h2>
  <ul>
    <% urls.forEach((url) => { %>
      <li><%= url.shortened %> -- <%= url.original %></li>
    <% }); %>
  </ul>
</body>
</html>