<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <h2>Your <em>"Tiny"</em> URLs</h2>
  <ul>
    <% for (let object in urls) { %>
      <li><form method="POST" action="/urls/<%= urls[object].shortURL %>/delete"><%= urls[object].shortURL %> -- <%= urls[object].longURL %> -- <a href="/urls/<%= urls[object].shortURL %>/">Edit</a> -- <input type="submit" value="Delete"></form></li>
    <% }; %>
  </ul>
</body>
</html>