<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <h3>Register for an account:</h3>
  <form method="POST" action="/register">
    <label for="email">Email Address:</label>
    <input type="email" name="email" id="email" style="display:block; margin-bottom:10px;">
    <label for="password">Choose a password:</label>
    <input type="password" name="password" id="password" style="display:block;">
    <input type="submit" value="Submit" style="display:block">
  </form>
</body>
</html>