<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <h2>Your <em>"Tiny"</em> URLs</h2>
  <ul>
    <% for (let url in urls) { %>
      <li><form method="POST" action="/urls/<%= url %>/delete"><%= url %> -- <%= urls[url] %> -- <a href="/urls/<%= url %>/">Edit</a> -- <input type="submit" value="Delete"></form></li>
    <% }; %>
  </ul>
</body>
</html>